.content {
display: flex;
flex-direction: column;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

.header-and-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-between;
}

.logo {
    size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    display: flex;
    justify-self: flex-start;
    font-size: x-large;
}

 .header ul {
    display: flex;
    list-style: none;
    gap: 15px;
    color: #E5E7EB;
    size: 18px;
    padding: 5px;
    font-weight: 300;
    justify-self: flex-end;
 }

.center-page {
    display: flex;
    flex-direction: column;
}

 .hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex: 1;
    max-height: fit-content;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    padding-top: 10%;
    padding-bottom: 10%;
 }

 .hero-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
 }

 .hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
 }

.hero-left p {
    font-size: 18px;
    color: #E5e7eb;
}

 .hero-left button {
    width: fit-content;
    height: fit-content;
    padding: 10px 30px 10px 30px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: #3882f6;
    border-radius: 10px;
 }

 .hero img {
    display: flex;
    flex: 1 1 auto;
    max-width: 500px;
    max-height: max-content;
    min-width: 200px;
    min-height: min-content;
 }

.info-and-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.info-and-icons h2 {
font-size: xx-large;
}

.icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

 .icons ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
    list-style: none;
    padding: 0px;
    text-wrap: balance;
    margin: 50px;
    max-width: 12vw;
    color: rgb(100, 100, 100);
 }

 .icons img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    display: flex;
    flex: 1 1 auto;
    max-width: 12vw;
    max-height: 12vw;
 }

 .icons a {
   font-size: medium;
 }

 .quote {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5% 10% 5% 10%;
    background-color: #E5E7EB;
 }

 .quote-text {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
 }

 .quote-name {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
 }

 .call-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 5% 10% 5% 10%;
    border: #3882f6;
    border-radius: 10px;
 }

 .call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
    margin: 50px;
 }

 .call-text h3 {
margin: 0px;
font-size: larger;
 }

 .call-text p {
margin: 0px;
font-size: large;
 }

 .call-box button {
    display: flex;
    align-content: center;
    width: fit-content;
    height: fit-content;
    background-color: #3882f6;
    color: white;
    padding: 5px 20px 5px 20px;
    border: white 1px;
    border-radius: 10px;
    border-style: solid;
    font-size: medium;
    font-weight: bold;
 }

 .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
    color: white;
    margin: 0px;
 }